*{
    /* background-color: rgb(54, 84, 154); */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main-div{
    width: 100%;
    height: 100vh;
    background: #a7a8a8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.center-div{
    width: 25%;
    height: 80vh;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 25px -5px rgb(22, 20, 20);
    border-radius: 15px;
    background: #d5d5d7;
  
   
    
  
}
h1{
    color: rgb(99, 96, 96);
    background: transparent;
    background-color: rgb(247, 249, 153);
    box-shadow: 3px 3px 10px -3px rgb(40, 39, 39);
    padding: 6px 0 2px 0;
    margin-top: 10px
}
input{
    text-align: center;
    outline: none;
    height: 30px;
    width: 60%;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(94, 79, 79);
    font-size: 30px;
    font-weight: 500;
    top: 20px;
}
button{
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 2px 4px 6px -3px black;
    background-color:  rgb(111, 81, 139);
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
}
button:hover{
    color: rgb(15, 13, 17);
    background-color: rgb(0, 151, 101);
}
ol{
    margin-top: 30px;
}
ol li{
    padding-left: 0;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    text-align: left;
    align-items: center;
    display: flex;
    color: rgb(51, 46, 55) ;
}
.todo-style{
    display: flex;
    flex-direction: row ;
    justify-content: left;
    align-items: center;
}
.todo-style .fa-times{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 165, 49) ;
    border-radius: 50%;
    margin: 0 15px 0 35px;
    color: rgb(244, 248, 253);
    box-shadow: 5px 5px 15px -5px black;
    
}
.todo-style .fa-times:hover{
    background-color: rgb(255, 1, 1);
}
.todo-style .fa-times:hover .list-style{
    color: crimson;
}

@media (max-width:768px){
    .center-div{
        width: 55%;
    }
    .todo-style .fa-times{
        margin: 0 15px 0 15px ;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
